 /* General */
 

 html {
  
  font-family: 'Raleway', sans-serif;
  background-color: pink;
  font-size: 10px;
  
}

body {
  width: 800px;
  margin: 0 auto;
}

/* Typography */


h1, h2 {
  
  font-family: 'Times New Roman', serif;
  margin: 0;
  text-align: center;
  color: lightblue;
  text-shadow: 2px 2px 1px black;
}


h1 {
  font-size: 5rem;
  background-size: 48px 48px;
  background-blend-mode: lighten;
}

h2 {
  font-size: 2rem;
  color: white;
  text-align: right;
  position: absolute;
  right: 4%;
  z-index: 3000;
  text-shadow: 2px 2px 1px black;
  line-height: 2rem;
  padding-top: 0.1rem;
}

h5 {
  font-size: 1rem;
  color: plum;
  text-align: right;
  position: absolute;
  right: 4%;
  z-index: 3000;
  line-height: 4rem;
  padding-top: 3rem;
}

h6 {
  font-size: 1rem;
  color: black;
  text-align: right;
  position: absolute;
  right: 4%;
  z-index: 3000;
  line-height: 4rem;
  padding-top: 1rem;
}

input[type=text], select {
  width: 10%;
  right: 4%;
  position: absolute;
  margin-top: 90px;
  bottom: 25x;
  border-radius: 0%;
}

p {
  font-size: 1.5rem;
}


/* block styling */


header, aside, main, footer {
  padding: 20px;
}

footer h1 {
  font-style: italic;
  font-size: 3rem;
}

aside {
  flex: 3;
}

main {
  flex: 7;
}


/*  Form styling */

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


aside {
  display: flex;
  align-items: stretch;
  padding: 50px 0;
}

aside div {
  margin-bottom: 20px;
}


/* Styling the products */


section {
  width: 45%;
  margin: 5px;
  background-color: lightblue;
  position: relative;
  height: 215px;
}


section p {
  color: white;
  background: black;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 0%;
  box-shadow: 2px 2px 1px black;
  position: absolute;
  right: 10px;
  bottom: -6px;
  z-index: 2000;
}


.item {
  background-size: 234px 24px;
}


.item img {
    width: 200px;
    height: 200px; 
    
    display: block;
    position: absolute;
    bottom: 0px;
    
}
