/* General body styling size and setting margins */
body{
    width: 900px; 
    margin: 0 auto;

}
/* Adjusted product image size and added border */
img{
    width: 220px;
    height: 200px; 
    border: 1px solid #ddd;

}
/*Typography
Title is set to h1 and its color is set to sandy brown to match beach setting and added a shadow effect to it
*/
h1 {
    text-align: center;
    color: sandybrown;
    text-shadow: 2px 2px black;
    font-size: 50px;
    display: flex;
}
/* Product names is set to h2 styled position, color, font-size, and set display to flex in order for the items to align */
h2{
    text-align: center;
    color: black;
    font-size: 20px;
    display: flex;
}

/* General styling copied from Lab6*/
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
 
  




