html {
    background-color: beige;
}
tr:hover {
    background-color: #77DD77;
  }
tr {
    text-align: center;
}
  .shipping_info {
    position: center;
  }

div {
    text-align: center;
}
h4 {
  padding: -40px;
  margin-top: -10px;
  font-family: 'system-ui';
  text-transform: uppercase;
  text-align: center;
}