html {
  background: url(images/bike.webp) no-repeat center center fixed; 
  font-family: 'Raleway', sans-serif;
  background-color: #ff6961;
  font-size: 10px;

}

body {
  width: 800px;
  margin: 0 auto;
}

/* Typography */


h1, h2 {

  font-family: 'Cherry Swash', cursive;
  margin: 0;

  text-align: center;
}


h1 {
  font-size: 5rem;
  background-size: 48px 48px;
  background-blend-mode: lighten;
  color: white;
  text-shadow: 5px 5px 1px black;
}

h2 {
  font-size: 2rem;
  color: #77DD77;
  text-align: center;
  position: relative;
  right: 4%;
  z-index: 3000;
  text-shadow: 2px 2px 1px black;
  line-height: 2rem;
  padding-bottom: 0rem;
  display: block;
}

h4 {
  font-size: 1.1rem;
  color: black;
  text-align: right;
  position: absolute;
  right: 30px;
  z-index: 3000;
  line-height: 4rem;
  padding-top: 0.3rem;
  display: block;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.item img {
  width: 205px;
  height: 205px;
  background-color: grey;
  display: block;
  position: absolute;
  bottom: 0px;
  border-radius: 50%;
  box-shadow: 2px 2px 1px black;
}
h6 {
  font-size: 1rem;
  color: black;
  text-align: right;
  position: absolute;
  right: 30px;
  z-index: 3000;
  line-height: 4rem;
  padding-top: 0.6rem;
  display: block;
}

.textbox {
  font-size: 1rem;
  color: red;
  text-align: center;
  width: 75px;
  height: 20px;
  position: absolute;
  right: 35px;
  z-index: 3000;
  bottom: 50px;
  display: block;
  margin-top: 70px;
  word-wrap: normal;
}
.error_msg{
  position: absolute;
}

input[type=text], select {
  width: 10%;
  right: 35px;
  position: absolute;
  margin-top: 70px;
  padding-top: 20px;
  border-radius: 20%;
  text-align: center;
}


p {
  font-size: 1.5rem;
}


/* block styling */


header, aside, main, footer {
  padding: 20px;
}


footer h1 {
  font-style: italic;
  font-size: 3rem;
}

main {
  flex: 7;
}


/*  Form styling */

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Styling the products */


section {
  width: 45%;
  margin: 5px;
  background-color: #C9C4CF;
  position: sticky;
  height: 215px;
  border-radius: 50%;
  box-shadow: 5px 5px 6px black;
}

section p {
  color: beige;
  background: #ff6961;
  width: 45px;
  height: 45px;
  line-height: 50px;
  text-align: center;
  border-radius: 20%;
  position: absolute;
  right: 100px;
  bottom: -6px;
  z-index: 2000;
  white-space: normal;
  border-radius: 50%;
}

.submit_button {
  border-radius: 100%;
  height: 50%;
  width: 100px;
  color: black;
  background-color: #FDFD96;
  box-shadow: 3px 3px 1px black;
  
}

.item {
  background-size: 234px 24px;
}



