html {
    background-color: beige;
}
tr:hover {
    background-color: #77DD77;
  }
tr {
    text-align: center;
}
  .shipping_info {
    position: center;
  }

div {
    text-align: center;
}