/* styling for invoice  */
/* Changing the background color and aligning and sizing the text  */
body {
    margin: 0;
    font-family: "Arial", Helvetica, sans-serif;
    background-color:papayawhip;
    color: black;
    text-align: center;
    font-size: 14px;
  }

  /* Changing color of top of invoice */
th {
    background-color:#608e71;
  }
/* Centering the invoice and adding color to it */
table {
    border-collapse: collapse;
    background-color:whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border: 1px solid #608e71;
}