/* Zachary Matsudo Assignment 3 */
/* CSS to style the index page */

/* General */
/* html, body, header styling was learned in class */
/* Fonts referenced from https://www.w3schools.com/cssref/css_websafe_fonts.php */

html {
    font-family: 'Georgia', sans-serif;
    background-color: #2396FF;
    font-size: 18px;
    background: url(https://img.freepik.com/free-photo/tasty-appetizing-party-accessories-bright-blue-background_1220-1696.jpg?w=2000) no-repeat 50% center;
    background-size: cover;
}

body {
    width: 78%;
    margin: auto;
}

/* Fonts */

h1 {
    font-size: 75px;
    text-align: center;
}

h3 {
    font-size: 40px;
    text-align: center;
}

/* Styling */ 
/* referenced Store 1 WOD */

body > div {
  border: 5px solid black;
  display: flex;
}

main {
  flex: 7;
}

/* Form Styling */
/* referenced Store 1 WOD */
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
   

/* Styling Images */
/* Store 1 WOD used as a reference */

#select img{
  width: 200px;
  height: 200px;
  display: block;
  padding-bottom: 20px;
}

#hard{
  padding-right: 100px;
}

#soft{
  padding-right: 100px;
}

