/* Zachary Matsudo Assignment 3 */
/* CSS to style the index page */

/* General */
/* html, body, header styling was learned in class */
/* Fonts referenced from https://www.w3schools.com/cssref/css_websafe_fonts.php */

html {
    font-family: 'Georgia', sans-serif;
    background-color: white;
    font-size: 18px;
    background: url(https://img.freepik.com/free-photo/tasty-appetizing-party-accessories-bright-blue-background_1220-1696.jpg?w=2000) no-repeat 50% center;
    background-size: 2000px;
} 

body > div {
    border: 5px solid black;
  }


/* Font Styling */
h1, h2 {
    text-align: center;
    padding-bottom: 25px;
}

label {
    padding-left: 130px;
    font-size: 20px;
}

p {
    font-size: 20px;
}

/* Styling Forms */
/* Referenced from https://www.w3schools.com/css/css_form.asp */
input[type=text] {
    margin-left: 130px;
}

input[type=password] {
    margin-left: 90px;
}

.log_in {
    width: 680px;
    height: 520px;
    text-align: left;
    margin: auto;
}   

/* Styling Buttons */
#enter, #create {
    font-size: 20px;
    color: #2396FF;
    background-color: black;
    padding: 5px 10px;
    margin-top: 10px;
}



