/* Zachary Matsudo Assignment 3 */
/* CSS to style the signup page */

/* General */
/* html, body, header styling was learned in class */
/* Fonts referenced from https://www.w3schools.com/cssref/css_websafe_fonts.php */

html {
    font-family: 'Georgia', sans-serif;
    background-color: white;
    font-size: 18px;
    background: url(https://img.freepik.com/free-photo/tasty-appetizing-party-accessories-bright-blue-background_1220-1696.jpg?w=2000) no-repeat 50% center;
    background-size: 2000px;
}

body > div {
    border: 5px solid black;
}

h1, h2 {
    text-align: center;
    padding-bottom: 5px;
}

label {
    padding-left: 140px;
}

p {
    font-size: 20px;
} 

/* Styling Forms */
/* Referenced from https://www.w3schools.com/css/css_form.asp */
input[type=text] {
    margin-left: 140px;
}

input[type=password] {
    margin-left: 140px;
}

/* Styling div */
.sign_up {
    width: 680px;
    height: 650px;
    text-align: left;
    margin: auto;
    margin-bottom: 120px;
}   

/* Styling buttons */
#enter, #login {
    font-size: 20px;
    color: #2396FF;
    background-color: black;
    padding: 5px 10px;
    margin-top: 10px;
}



